<table>
  <tr>
    <th>Total users count</th>
    <th>Amount available</th>
    <th>Bestseller</th>
    <th>Sold products amount</th>

  </tr>
  <tr>
<!--        <td><<%#= @users %>/td>-->
    <td></td>
    <td><%= @bestseller.result.name %></td>
    <td><%= @sold_products_amount.result %></td>
  </tr>
</table>


