<table>
  <tr>
    <th>Purchase id</th>
    <th>Purchase date</th>
    <th>Products</th>
  </tr>
  <% @user_purchases.each do |purchase| %>
    <tr>
      <td><%= purchase.id %></td>
      <td><%= purchase.purchase_date.try(:to_date) %></td>
      <td>
        <% purchase.purchase_products.decorate.each do |purchase_product| %>
          <li>
            <%= purchase_product.product %>
          </li>
        <% end %>
      </td>
  <% end %>
  </tr>
</table>
